@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;700&display=swap');

* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}


body {
  background-color: #050505;
  background-image: 
    linear-gradient(rgba(0, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 40px 40px;
  color: #e0e0e0;
  overflow-x: hidden;
}


nav {
  background: rgba(10, 10, 10, 0.7);
  backdrop-filter: blur(12px); 
  display: flex;
  justify-content: center;
  gap: 32px;
  padding: 16px 0;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid rgba(0, 255, 255, 0.1);
}

nav a {
  position: relative;
  color: #888;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #00f2ff; 
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #00f2ff;
  box-shadow: 0 0 10px #00f2ff;
  transition: 0.3s;
}

nav a:hover::after {
  width: 100%;
}


.hero {
  text-align: center;
  padding: 120px 20px;
}

.hero h1 {
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: -2px;
}

.hero span {
  background: linear-gradient(90deg, #00f2ff, #7000ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.btn {
  background: linear-gradient(135deg, #00f2ff, #0066ff);
  color: #000;
  padding: 14px 30px;
  border-radius: 8px; /* Sharper edges look more technical */
  border: none;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 20px rgba(0, 242, 255, 0.6);
  background: #ffffff;
}


.card {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 26px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  border-color: #00f2ff;
  background: rgba(0, 242, 255, 0.05);
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}



/* FORM FIELDS */
input, textarea {
  width: 90%;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #333;
  background: #111;
  color: white;
  
}

input:focus, textarea:focus {
  outline: none;
  border-color: #00f2ff;
  box-shadow: 0 0 10px rgba(0, 242, 255, 0.2);
}
